body {
    background-image: url(../Images/colorful_dots_on_black.jpg);
    background-repeat: repeat;
    background-size: 250px;
    color: white;
    padding: 0;
    width: 1200px;
    margin: 0 auto;
    font-family: Calibri;
}

    body > header {
        color: yellow;
        font-size: 2.5em;
        font-family: Calibri;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(left, rgba(255,50,50,1) 33%, #008000 33%,#008000 66%, #008000 66%,rgba(37,53,234,1) 66%);
        background: -ms-linear-gradient(left, rgba(255,50,50,1) 34%, #008000 33%,#008000 66%, #008000 66%,rgba(37,53,234,1) 67%);
        padding: 0 0 10px 0;
    }

aside {
    width: 220px;
    display: inline-block;
    position: fixed;
    background-color: rgba(255, 255, 255,0.9);
    margin: 20px 0 0 10px;
    border-radius: 25px;
    padding: 5px 0 10px 0;
}

    aside nav header {
        color: black;
        font-weight: 700;
        padding: 10px 0 0 10px;
        margin: 0;
        text-decoration: underline;
        font-size: 1.4em;
    }

    aside nav ul {
        padding: 0;
        padding-left: 10px;
        margin: 5px;
    }

    aside nav li {
        list-style: url(../Images/tick.png);
        padding: 4px;
        background: none;
        list-style-position: inside;
        width: 90%;
        border-radius: 5px 5px;
    }

nav a {
    text-decoration: none;
    color: black;
}

li:nth-child(1):hover, section article:nth-child(1) header {
    background-color: red;
}

li:nth-child(2):hover, section article:nth-child(2) header {
    background-color: orange;
}

li:nth-child(3):hover, section article:nth-child(3) header {
    background-color: yellow;
}

li:nth-child(4):hover, section article:nth-child(4) header {
    background-color: green;
}

li:nth-child(5):hover, section article:nth-child(5) header {
    background-color: blue;
}

li:nth-child(6):hover, section article:nth-child(6) header {
    background-color: #800080;
}

a:visited {
    color: #787676;
}


section {
    width: 78%;
    display: inline-block;
    float: right;
    color: black;
    margin: 20px;
}

    section article {
        padding: 15px;
        margin: 10px;
        background-color: rgba(255, 255, 255,0.9);
        border-radius: 20px;
    }

        section article header {
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 2em;
        }

        section article:nth-child(1) header, section article:nth-child(4) header, section article:nth-child(5) header, section article:nth-child(6) header {
            color: white;
        }

        section article div:first-letter {
            font-size: 3.5em;
            font-style: italic;
        }

        section article div:first-line, section article a {
            font-style: italic;
        }

        section article a {
            color: #787676;
        }

article span:nth-of-type(1){
    color: rgb(32, 34, 142);    
}

article span:nth-of-type(1):before{
    content:'”';
}
article span:nth-of-type(1):after{
    content:'”';
}